<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Ana</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>El mundo de Ana</h1>
            <p>Un lugar donde las historias se leen, se viven pero sobretodo, se sienten.</p>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/lomasleido.html">LO MÁS LEÍDO</a>
        <a href="../views/ultimo.html">ÚLTIMOS SUBIDOS</a>
        <a href="../views/forms.html">SUSCRIBITE</a>
    </nav>
    <!--PARTE PRINCIPAL-->
    <div>
        <main>
            <article>
                <h2>La ironía del disfrute</h2>
                <img src="../img/eldisfrute.png" alt="">
                <div class="post">
                    <p> Hace tiempo, descubrí que mi problema es mi concepto de disfrute. Quizás, mirar una serie como rutina no sea lo más sano. Digo esto luego de apagar la tele, preparar mi té de tilo y buscar mi libro de Rolón.</p>
                    <p>La inspiración es caprichosa, en especial la mía, se conforma de momentos calmos donde todo parece detenerse por unos instantes. Todo menos yo.</p>
                    <p>Para entender un poco, quisiera saber ¿Qué es el disfrute? Para mi es mirar una serie e ignorar lo que pienso y siento porque eso es mucho trabajo. Es posponer lo que sé que me hace bien porque conlleva demasiado esfuerzo.</p>
                    <p>Sin embargo, hay cuestiones que comprendo cuando mi tranquilidad se ve perturbada, aún en ese momento de disfrute. Y llegan pensamientos raros, tristes y temerosos. Ellos se cuelan en mi mente y vagan con una libertad que me inquieta ¿por qué aparecen? ¿qué quieren?</p>
                    <p>Hacer el trabajo del por qué, no es algo que disfrute, en absoluto. Pero rellenar el silencio incómodo con un ruido catastrófico y perturbador, tampoco lo es. Nadie merece eso, mucho menos yo.</p>
                    <p>Hacer el trabajo del por qué, no es algo que disfrute, en absoluto. Pero rellenar el silencio incómodo con un ruido catastrófico y perturbador, tampoco lo es. Nadie merece eso, mucho menos yo.</p>
                    <p>¿Por qué? Porque es fácil. No conlleva esfuerzo. Pero nos hace sentir perdidos y en lugar de tomar la brújula que señala el norte para seguirlo, esperamos a que este se dibuje y alguna fuerza sobrenatural nos lleve hacia allá.</p>
                    <p >Elegimos la reacción antes que el pensamiento. Se nos olvida mirar hacia adentro, encontrar respuestas. Nos olvidamos de dejar que pasen los silencios incómodos. Hemos elegido lo fácil en lugar de lo bueno.</p>
                    <p>Hace rato dejamos de buscarle el sentido a la vida, porque nos parece mucho más cómodo ignorar la verdad que nos persigue desde el día en que nacimos, no somos eternos y el día que esa llama deje de arder en nuestro interior será el qué sabremos con absoluta certeza si cumplimos con lo que fuimos llamados a ser, o si, simplemente, nos limitamos a hacer lo mismo que aquellos que aún siguen dormidos. Por miedo, por vergüenza, quién sabe por qué.</p>
                    <p>Hace tiempo que mi problema es el disfrute, acaso puedo disfrutar de una vida triste y apagada en donde la rutina se apodera de mi ser, acaso es absurdo querer disfrutar esforzándome, no lo sé.</p>
                    <p>Es por eso que, ante la duda, me muevo y busco las respuestas a estas preguntas que no dejan de llegar a mi mente, porque prefiero seguir mi camino, elegir mis batallas y dar lo mejor de mi en cada una. Mi 100%.</p>
                    <p>Te deseo una gran semana, que Dios te cuide siempre, un beso.</p>
                </div>
        </main>
    </div>
    <!--FOOTER-->
    <footer>
        <p>&copy; Ana Paula Toledo, Potrero Digital 2024</p>
    </footer>
</body>
</html>