<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Ana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>El Mundo de Ana</h1>
            <p>Un lugar donde las historias se leen, se viven pero sobretodo, se sienten.</p>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="#">LO MÁS LEÍDO</a>
        <a href="../views/ultimo.html">ÚLTIMOS SUBIDOS</a>
        <a href="../views/forms.html">SUSCRIBITE</a>
    </nav>
        <main>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                    <img src="../img/empezar.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Empezar de nuevo.</h5>
                        <p class="card-text">Para darles un poco de contexto, soy una persona a la cual le cuesta mucho, sino muchísimo ser consistente y disciplinada.</p>
                        <a href="https://anapaulatoledo.substack.com/p/empezar-de-nuevo" class="LeerMas">Seguir leyendo</a>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="../img/pasouno.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">El primer paso</h5>
                        <p class="card-text">Como te dije hace un ratito, estoy aprendiendo a sanar viejas heridas. Hoy domingo nos toca ver el primer paso para lograrlo: aceptar que tenemos que sanar.</p>
                        <a href="https://anapaulatoledo.substack.com/p/el-primer-paso" class="LeerMas">Seguir leyendo</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="../img/organizacion.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Reorganización</h5>
                        <p class="card-text">Una pequeña guía que te va a acompañar para empezar de nuevo.</p>
                        <a href="organizacion.html" class="LeerMas">Seguir leyendo</a>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                    <img src="../img/cieloynubes.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Las nubes tienen piso.</h5>
                        <p class="card-text">Uno de los primeros días, mientras regresábamos del lugar hacía la primera parada de colectivo, vi nubes que tenían PISO, jamás en mi vida había visto algo como eso.</p>
                        <a href="../views/lasnubes.html" class="LeerMas">Seguir leyendo</a>
                    </div>
                </div>
                </div>
            </div>
        </main>
    <!--FOOTER-->
    <footer>
        <p>&copy; Ana Paula Toledo, Potrero Digital 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>