<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Mundo de Ana</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>El mundo de Ana</h1>
            <p>Un lugar donde las historias se leen, se viven pero sobretodo, se sienten.</p>
        </div>
    </header>

    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/lomasleido.html">LO MÁS LEÍDO</a>
        <a href="../views/ultimo.html">ÚLTIMOS SUBIDOS</a>
        <a href="../views/forms.html">SUSCRIBITE</a>
    </nav>
    <!--Texto-->
    <div class="container-fluid">
        <article class="texto">
            <h2>Paso dos: reorganización</h2>
            <img src="../img/organizacion.jpeg" alt="">
            <h3>¿Qué vamos a aprender hoy?</h3>
            <!--Carrusel con: lo que está en la lista-->
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/habito.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/elegir.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/pregunta.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/consejo.png" class="d-block w-100" alt="...">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="post">
            <p>Al principio no fue fácil, tenía una idea de lo que había que hacer pero no sabía cómo.</p>
            <p>Sentía que eran muchos los problemas por resolver y mi mente estaba hecha un desastre.</p>
            <p>Fue en ese momento, cuando todo lo que había tomado de los blogs y los libros, apareció como guía para lo que necesitaba hacer: reordenar mi vida y mi rutina.</p>
            <h3>La importancia de los hábitos.</h3>
            <p>El mundo no deja de girar porque nosotros sintamos algún tipo de malestar, esto es una realidad que vivimos todos, la vida sigue, no para y no espera y no frena. Por nada, ni nadie. Por eso, es importante ordenarnos y dejar espacio para el proceso de sanar. Elijamos el método que elijamos: terapia, escritura, coaching, lectura, etc. Lo importante es encontrar el tiempo y a su vez tener el equilibrio que necesitamos para seguir transitando la vida.</p>
            <p>Como les dije antes, la vida no para, nosotros necesitamos seguir comiendo, viviendo en nuestro hogar, trabajando, estudiando, etc. Pero en los malos momentos, todo se dificulta y pesa el doble.</p>
            <p>Por esta razón, tomé la decisión de organizar mi vida, para poder seguir viviendo pero sin olvidarme de que tenía asuntos personales que atender. Primero, elegí el método que iba a utilizar para sanar mi interior, en mi caso fue la oración, la lectura de la biblia y la escritura con preguntas reflexivas. Esto me daba una idea de cuánto era el tiempo que necesitaba. Así que tomé el calendario de mi celular y agende que la primer hora y media de la mañana iba a ser para orar y leer la biblia junto con mi café.</p>
            <p>Al principio fue bastante fácil, uno siempre tiene una primera emoción cuando empieza algo nuevo, pero después los problemas comenzaron a rondar nuevamente y se me dificultaba siquiera despertarme para ponerme a hacer lo que había acordado.</p>
            <p>Fue en ese momento, que entendí que necesitaba cambiar mis hábitos diarios, para tener más energía y para empezar el día con más calma. Opte por correr de la primera hora el proceso de sanar y cambiarlo por yoga y meditación. Al día de hoy trabajo de esa manera. La respuesta es simple, empezar con una actividad como el yoga y la meditación me despiertan y relajan, ahora me siento a orar y leer la biblia sin tener el cuello duro después de dormir 8 horas en quién sabe qué posición.</p>
            <h3>Elegir el momento adecuado.</h3>
            <p>Ahora bien, muchos creen que los procesos comienzan cuando uno decide que van a empezar, para mi, lo hacen cuando les ponemos fecha y hora. Es simple, si tiene lugar en tu día, tiene tu atención.</p>
            <p>Aunque no siempre ha sido tan fácil, yo también he luchado con el cansancio, las tareas del hogar, las horas de estudio y los cursos relacionados a mi carrera.</p>
            <p>Fue un blog que leí, el que me ayudo a entender cuál era mi error: Elegí el momento incorrecto para hacer lo que necesitaba hacer. Les explico:</p>
            <p>No todas las personas vivimos de la misma forma ni tenemos las mismas rutinas, necesitamos comprender cuándo es el momento óptimo para sentarnos a trabajar. Esto significa hacer un relevo rápido de cuáles son nuestras tareas, cuánto tiempo demoran en realizarse y cuál es el momento del día que más cansados nos sentimos. De esta forma, vamos a lograr acomodar nuestro tiempo personal sin que se superponga con todas las demás tareas importantes.</p>
            <p>Una vez que hayas encontrado el momento justo para hacer tu actividad, es de suma importancia que lo agendes en algún lugar, que le des un tiempo preciso (una hora, dos horas, treinta minutos, etc.) y un día específico (no tiene que ocuparte cada día de la semana, es tu elección).</p>
            <p>Repasemos entonces, para empezar, elegimos qué vamos a hacer (terapia, escritura, oración, etc.), también hemos acordado que adornar nuestra rutina con hábitos saludables como hacer deporte y meditar, nos ayudan a tener otra energía y otra mentalidad antes de ponernos a realizar esa actividad que necesitamos hacer para sanar, y por último analizamos cuál es el momento adecuado para trabajar, teniendo en cuenta nuestra rutina actual, nuestras necesidades y esas tareas importante que ocupan espacio en nuestra agenda.</p>
            <h3>¿Qué nos queda?</h3>
            <p>Una vez que hayamos logrado reorganizar nuestra agenda y con ello nuestra vida, queda comenzar.</p>
            <h3>Un consejo:</h3>
            <p>Al principio, va a parecer todo muy absurdo, el yoga, la meditación, el método elegido. Nos vamos a sentir incapaces de hacer algún tipo de esfuerzo. Vamos a llorar, mientras nos preguntamos por qué tenemos que movernos para sanar algo que no rompimos, o porque nos sentimos culpables y quién sabe qué más. Vamos a enojarnos cuando el proceso se estanque, o bueno, cuando nosotros lo hagamos. Y probablemente, en algún punto de todo esto, vamos a querer tirar la toalla. Pero a pesar de ello, te pido que sigas adelante, que sigas sanando, porque nada en esta vida importa más que el hecho de que vuelvas a estar bien, que aprendas y que tengas herramientas para afrontar todo lo que suceda en el futuro. Yo, mejor que nadie, sé que no va a ser fácil, estoy pasando por esto ahora, pero confío en que va a servir, en que voy a sanar y que, al final, todo va a estar bien.</p>
            <p>No te rindas. Nos leemos el próximo domingo.</p>
            <p>Te abrazo, Pauly.</p>
            <p>P.D: por último les dejo una canción instrumental que me gusta mucho para sentarme a reflexionar.</p>
        </div>
        <div class="texto-iframe">
            <iframe src="https://www.youtube-nocookie.com/embed/qxMHYCZRHRQ?si=sGNOWIQEZoVG61dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        </article>
    
    </div>


    <!--FOOTER-->
    <footer>
        <p>&copy; Ana Paula Toledo, Potrero Digital 2024</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>